$bc_success: #39FFBF;
$bc_successlight: #35FFBF;
$bc_white: #FFFFFF;
$bc_warning: #F81D39;
$bc_warningdark: #F00E2E;
$bc_black: #000000;
$bc_textlight: #818A91;
$bc_textdark: #3D3D3D;
$bc_dark: #1F1E38;
$bc_textmenu: #1F1E3880;
$bc_textoff-white: #FFFFFFb0;
$bc_blu: #527CEB;
$bc_gray: #444444;